.spine {
    writing-mode: vertical-lr;
    display: inline-block;
    padding: 5px;
    background-color: #66bfbf;
    font-size: 10px;
    text-align: center;
    margin: 1px;
    border: 2px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-height: 120px;
}

.holds-books {
    background-color: #c7b198;
    border: 5px solid #8f4426;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 60%;
    font-size: 0;
    flex-wrap: wrap;
    row-gap: 20px;
}
