.form-submit {
    background-color: #6B2F4E;
    color: #fdf9f2;
    border: 2px solid #6B2F4E;
    height: 25px;
    font-family: 'Literata';

}
.form-submit:hover {
    text-decoration: none;
    background-color: #A89F91;
    border: 2px solid #A89F91;

    transition: background-color 0.5s ease; 
  
}
