.form-submit {
  background-color: #6b2f4e;
  color: #e7e3d4;
  border: 2px solid #6b2f4e;
  height: 25px;
  font-family: "Literata";
}

.form-submit:hover {
  text-decoration: none;
  background-color: #a89f91;
  border: 2px solid #a89f91;
  color: #333333;
  transition: background-color 0.5s ease;
}
