.footer {
        margin-top: 10px;
        height: 60px;
        width: 100%;
        background-color: #b4dfe5;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-top: 4px solid #303c6c; 
        border-bottom: 4px solid #303c6c; 
        padding-top: 20px;
        box-sizing: border-box;
}