.header {
    background-color: #b4dfe5;
    padding: 10px;
    border-top: 4px solid #303c6c;
    border-bottom: 4px solid #303c6c;
    text-align: center;
    display: block;

}

#h1 {
    padding: 10px 5%;
    color: #303c6c;
    text-align: center;
    display: block;
    font-style: italic;
}

.profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 0px;
}
