.navbar {
    background-color: #9896f1;
    color: #574b9b;
    padding: 20px;
    border-top: 4px solid #574b9b;
    border-bottom: 4px solid #574b9b;
    border-right: 4px dashed #574b9b;
    border-left: 4px dashed #574b9b;
    display: flex;
    justify-content: center;
    gap: 2rem;

    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, auto));
    justify-content: space-evenly; */
}

#navlink:link {
    color: #574b9b;
    text-decoration: none;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

#navlink:hover {
    text-decoration: none;
    background-color: #edb1f1;
    padding: 10px;
    border: 2px dashed #574b9b;
}