.navbar {
    background-color: #b4dfe5;
    color: #303c6c;
    padding: 10px;
    border-bottom: 4px solid #303c6c;
    text-align: center;
    justify-content: center;
    gap: 2rem;
    font-size: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    justify-self: center;
    width: 100vw;
}

.navbar a {
    padding: 5px;
    list-style: none;
    color: #303c6c;
    text-decoration: none;
    border-radius: 20px;
}

.navbar a:hover {
    text-decoration: none;
    background-color: #f4976c;
    transition: background-color 0.5s ease;
}

.active-link {
    font-weight: bold;
    text-decoration: underline;
    background-color: #f4976c;
  }

