.navbar {
    background-color: #b4dfe5;
    color: #303c6c;
    padding: 20px;
    border-top: 4px solid #303c6c;
    border-bottom: 4px solid #303c6c;
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 20px;
}

.navbar a {
    margin-right: 10px;
    padding: 10px;
    list-style: none;
    color: #303c6c;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    border-radius: 20px;
}

.navbar a:hover {
    text-decoration: none;
    background-color: #f4976c;
    transition: background-color 0.5s ease;
}

.active-link {
    font-weight: bold;
    text-decoration: underline;
    background-color: #f4976c;
  }

