.aboutnaomi {
  padding: 20px;
}

.globe-pic {
  float: right;
  width: 250px;
  height: 250px;
  box-sizing: border-box;
  overflow: hidden;
  transform: translatey(0px);
  animation: float 10s ease-in-out infinite;
}

.table-header {
  background-color: #697c67;
  color: #333333;
  padding: 5px;
  text-align: center;
}

.about-header {
  background-color: #697c67;
  color: #333333;
  padding: 5px;
  text-align: center;
}

.naomi-header {
  background-color: #697c67;
  color: #333333;
  padding: 5px;
  text-align: left;
}
.project-link {
  color: #333333;
  text-decoration: underline;
  text-decoration-color: #9a5679;
  display: block;
}

.project-link:hover {
  background-color: #fdf9f2;
  color: #9a5679;
}

i.to-library {
  color: #6b2f4e;
}

.my-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 4px solid #697c67;
  background-color: hsla(313, 52%, 18%, 0.185);
  text-align: center;
}

tr {
  vertical-align: top;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th,
td {
  padding: 20px;
  hyphens: auto;
}

td:hover {
  background-color: #9a5679;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
