.homepage {
  background-color: #fdf9f2;
  color: #333333;

margin: 0;
padding: 0;
/* background-size: cover;       stretch to cover the screen */
background-position: center;  /* center the image */
background-repeat: no-repeat; /* no tiling */
/* height: 100vh; */
}

.home-heading-main {
color: #333333;
text-align: center;
}

.home-header {
background-color: #fdf9f2;
color: #333333;
border-bottom: 2px dashed #697C67; 


}

.para {
  background-color: #fdf9f2;
color: #333333;

}