.homepage {
  background-color: #fdf9f2;
  color: #333333;
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
}

.home-heading-main {
  color: #333333;
  text-align: center;
}

.home-header {
  background-color: #697c67;
  color: #333333;
  padding: 5px;
}

.para {
  background-color: #fdf9f2;
  color: #333333;
}

.launchcode-mission {
  border: 2px solid #697c67;
  background-color: #fdf9f2;
  padding: 5px;
  color: #fdf9f2;
  text-align: center;
}

.launchcode-mission:hover {
  background-color: #a89f91;
  border: 2px solid #a89f91;
  transition: background-color 0.5s ease;
}

i.fa-solid.fa-rocket {
  color: #6b2f4e;
}
