.page-layout {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto; 

    gap: 2rem;
    padding-top: 1rem;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    
}
.bookshelf-container {
    padding: 1rem;
    border-radius: 8px;  
    grid-column: 1;
    grid-row: 1 / span 2;

    width: 100%;
    max-width: 70%;
    height: auto;
    justify-self: center;
    /* overflow: visible; */
}
  
.form-container {
    padding: 1rem;
    border-radius: 8px; 
    grid-column: 2;
    grid-row: 1/2;
    width: 100%;
    max-width: 70%;
    justify-self: center;
}

@media (max-width: 768px) {
    .page-layout {
      grid-template-columns: 1fr; 
    grid-template-rows: auto auto;
    }
    .bookshelf-container {  
        grid-column: 1/2;
        grid-row: auto;
    }
    .form-container {
        grid-column: 1/2;
        grid-row: auto; 
    }

}

.library-header-wrapper {
    width: 100%;
    /* margin-bottom: 1rem; */
}

.library-header {
    font-family: 'Times New Roman', Times, serif;
    /* font-size: 2rem; */
    background-color: #b4dfe5;
    padding: 10px;
    border-top: 4px solid #303c6c;
    border-bottom: 4px solid #303c6c;
    color: #272343;
    text-align: center;
    /* margin: 0; */
    /* display: block; */
  }

.bookshelf {
    display: flex;
    /* align-items: flex-start; */
    position: relative;
    flex-direction: column;
    /* justify-content: center; */
    background-color: #7a4a3b;
    border: 1px solid #6a3d2e;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    /* height: auto; */

    max-width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
   
}

.shelf {
    display: flex;
    /* flex-grow: 3; */
    /* flex-wrap: nowrap; */
    /* flex-direction: row; */
    align-items: flex-end; 
    /* position: relative; */
    justify-content: flex-start;
    position: relative;
    padding: 0;
    width: 100%;
    height: 150px;
    /* text-align: center; */
    border-radius: 5px;
    background-color: #ac8b76;
    border-bottom: 10px solid #6a3d2e;
    box-sizing: border-box;
    /* padding-right: 40px; */
}