.form {
    border: 8px solid #7a4a3b;
    text-align: center;
    background-color: #ac8b76;
    color: #6a3d2e;
    border-radius: 5px;
    display: flex;
    flex-direction: column;  
}

.form-submit {
    background-color: #6a3d2e;
    border: 2px solid #6a3d2e;
    height: 25px;
    font-family: 'Literata';
}

input {
    border-radius: 5px;
    background-color: #b89e8e;
    border: transparent;
    width: auto;
    height: 25px;
    width: 90%;
}

textarea {
    border-radius: 5px;
    background-color: #b89e8e;
    border: px solid #6a3d2e;
    height: 50px;
    width: 90%;
}

.form-shelf {
    border-bottom: 8px solid #7a4a3b;
    justify-self: center;
}

::placeholder {
    color:#6a3d2e;
}