.footer {
  height: auto;
  width: 100%;
  background-color: #697c67;
  color: #fdf9f2;
  border-top: 4px solid #697c67;
  border-bottom: 4px solid #697c67;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1001;
}

#copyright {
  grid-column: 1;
  text-align: center;
}

#location {
  grid-column: 2;
  text-align: center;
}

.list {
  grid-column: 3;
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #fdf9f2;
}

.list a {
  text-decoration: none;
  border-radius: 10px;
  padding: 3px;
}

.list a:hover {
  text-decoration: none;
  background-color: #a89f91;
  transition: background-color 0.5s ease;
}

i.fa-brands.fa-github,
i.fa-brands.fa-linkedin-in {
  color: #fdf9f2;
}

.list a.resume {
  color: #fdf9f2;
}
